html {
  margin: 0;
  background: #ffffff;
}
body {
  margin: 0;
}

.fontSize {
  font-family: Raleway, sans-serif;
  align-items: center;
  font-size: 18px;
  color: #1d1f22;
}

.text-decoration {
  text-decoration: none;
  color: #1d1f22;
}

.flex {
  display: flex;
  margin-left: 117px;
  align-items: center;
}

.relative {
  position: relative;
}

.navBarHeight {
  height: 80px;
  margin-left: 0;
}

.spaceBetween {
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: auto;
  margin-bottom: 103px;
  transition: 0.5s;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  margin-bottom: 90px;
  margin-left: 100px;
  margin-right: 100px;
}

.card:hover {
  box-shadow: 1px 1px 1px rgb(212, 241, 215);
  transform: scale(1.02);
  border-radius: 10px;
}

.inStock--card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  height: 338px;
  object-fit: contain;
}

.outStock--card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  height: 338px;
  object-fit: contain;
  opacity: 0.5;
}

.outStock--card--txt {
  position: absolute;
  top: 35%;
  left: 25%;
  color: #8d8f9a;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.outStock--card--id--price {
  font-family: Raleway, sans-serif;
  align-items: center;
  font-size: 18px;
  color: #8d8f9a;
  font-weight: 300;
}
.logo {
  margin: auto;
}
.logo img {
  width: 31px;
  height: 28px;
  object-fit: contain;
}

.navbar {
  font-size: 16px;
  margin-right: 20px;
  font-family: Raleway, sans-serif;
  color: #1d1f22;
}

.navbar p:hover {
  color: #5ece7b;
  border-bottom: 1px solid #5ece7b;
  padding-bottom: 10px;
}

.renderCategoryName {
  font-size: 42px;
  margin-top: 80px;
  margin-left: 101px;
  display: block;
  margin-bottom: 87px;
  color: #1d1f22;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

.renderCartName {
  font-size: 32px;
  margin-top: 80px;
  margin-left: 101px;
  display: block;
  margin-bottom: 55px;
  color: #1d1f22;
  font-family: Raleway, sans-serif;
  font-weight: 700, bold;
}

.currencies-on {
  font-family: Raleway;
  font-weight: 700;
  flex-direction: column;
  position: absolute;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  cursor: pointer;
  gap: 5px;
}

.product-pictures {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.more-pics img {
  padding: 10px;
  max-width: 100%;
  height: 80px;
  object-fit: contain;
}

.main-pic img {
  max-width: 100%;
  max-height: 510px;
  object-fit: contain;
  padding: 5px;
}
.more-pics {
  display: flex;
  flex-direction: column;
}

.parent-cont {
  padding: 50px 100px 0px 90px;
}

.product-page-grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.product-description ul {
  display: grid;
  list-style: none;
  margin: 0;
  max-width: 50px;
  padding: 0;
  flex-wrap: wrap;
}
.product-description ul li {
  cursor: pointer;
  text-align: center;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  transition: 0.8s;
}
.product-description {
  max-width: 100%;
}
.product-description ul li:hover {
  color: white;
  background-color: black;
  transform: scale(1.2);
}
.product-description label {
  text-transform: uppercase;
  font-weight: bold;
}

.add-to-cart-btn {
  background-color: #5ece7b;
  border: none;
  color: white;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  padding: 20px 0;
}

.outstock-button {
  background-color: #737b75;
  border: none;
  color: white;
  width: 100%;
  font-weight: 600;
  padding: 20px 0;
}

/* cart styles */

.cart--image {
  position: relative;
  width: 200px;
  border-radius: 9px;
  height: 100%;
  object-fit: contain;
  margin-top: 24px;
  margin-bottom: 24px;
}

.cart--attribute--name {
  display: inline;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  transition: 1s;
  font-family: Roboto;
}

.scrollBar {
  max-height: 450px;
  overflow: auto;
}

.hover:hover {
  background-color: #0000008a;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.hover span {
  padding-right: 5px;
}

#overlayBackground {
  position: absolute;
  width: 100%;
  right: 0;
  top: 80px;
  left: 0;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 2;
}

.link {
  text-decoration: none;
}

.vector-image {
  position: absolute;
  top: 35%;
  left: 25%;
}

.surface-on {
  position: absolute;
  display: flex;
  top: 66%;
  right: 5%;
  z-index: 2;
}

.surface-off {
  display: none;
}

.name {
  width: 70%;
  font-weight: 600;
}

.bottom-name {
  width: 70%;
  font-weight: 400;
  margin-top: -15px;
}

.attribute-name {
  font-family: Roboto;
  text-transform: uppercase;
}

.attributes {
  display: flex;
  flex-direction: row;
  margin-bottom:20px;
}

.roboto {
  font-family: Roboto;
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 18px;
}

.symbol-amount {
  margin-bottom: 20px;
  margin-top: 10px;
}

.symbol-amount span h2 {
  display: inline;
  font-family: Roboto;
  font-size: 18px;
}

.add-button {
  margin-bottom: 40px;
}

.description {
  font-family: Roboto;
  font-weight: 400;
}

.more-less {
  cursor: pointer;
}

.right-navbar {
  padding-left: 22px;
}

.shoppingcart-icon {
  align-items: start;
  cursor: pointer;
}

.cart-layout {
  display: flex;
  position: absolute;
  left: 70%;
  top: 70px;
  background-color: rgba(255, 255, 255, 1);
  right: 1px;
  z-index: 2;
  max-width: 325px;
}

.qty-icon {
  position: absolute;
  top: 17px;
  margin-left: 8px;
}

.quantity-icon {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 0.9em;
  text-align: center;
}

.quantity-icon span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, +5%);
  font-family: Roboto;
}

.nav-container1 {
  display: flex;
  padding-right: 150px;
  align-items: center;
}

.nav-container2 {
  display: flex;
  padding-left: 100px;
}

.currency-icon {
  align-items: center;
}

.arrow-icon {
  padding: 5px;
  align-items: end;
  cursor: pointer;
}

.bag-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  height: 43px;
  width: 140px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-family: Roboto;
  background-color: #ffffff;
  text-decoration: none;
}

.bag-button:hover {
  background-color: #333;
  color: white;
}

.checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(94, 206, 123, 1);
  font-size: 14px;
  line-height: 120%;
  font-weight: 600;
  color: #fff;
  height: 43px;
  width: 140px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-family: Roboto;
}

.button-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container *{
  text-decoration:none;
}
